
body{
    background-color: aliceblue;
}
#maint {
    color: #0b6e75;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
h1 {
    color: #0b6e75;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

h2{
    color: #2e9097;
}

hr{
    color: #0b6e75;
}

img {
    height: 200px;
    width: 200px;
}


#listapelis, #series, #cantantes , #listam , #libros , #mainsection , #mainsection2{
    width: fit-content;
    margin: 0 auto;
}